# This is the config file for n-able RMM script check

# max age of the backups in hours
    max_age=24

# path to the backup root
    bak_path="/mnt/iscsi-backup/daily-backup"

# path to the database backup file
    db_backup="$bak_path"/database/nextcloud-sqlbackup.bak

# path to the configuration backup folder
    conf_backup="$bak_path"/nextcloud-config/rdiff-backup-data

# path to the data backup folder
    data_backup="$bak_path"/nextcloud-data/rdiff-backup-data